*.bat
*.orig
*.pyc
*.sh
*.sql
.project
.pydevproject
.pydevproject.bak
.settings
/.installed.cfg
/bin
/parts
/src
/.project
/.pydevproject
/develop-eggs
/.mr.developer.cfg
/log
/downloads
/var
/safeplace.db
.DS_Store
/versions-picked.cfg