{{ widgets.0.0 }}
<div class="field">
<label for="{{ widgets.1.1.id }}">Country:</label>
{{ widgets.1.0 }}
</div>
<div class="field">
<label for="{{ widget.2.1.id }}">State:</label>
{{ widgets.2.0 }}
</div>
<div class="field">
<label for="{{ widgets.3.1.id }}">City:</label>
{{ widgets.3.0 }}
</div>

<script type="text/javascript">
function set_location () {
      var v = $('#{{ widgets.1.1.id }}').val() +', ' + $('#{{ widgets.2.1.id }}').val() + ', ' +$('#{{ widgets.3.1.id }}').val()
      $('#{{ widgets.0.2 }}_search').val(v);
    };
    $('#{{ widgets.1.1.id }}').change(set_location);
    $('#{{ widgets.2.1.id }}').change(set_location);
    $('#{{ widgets.3.1.id }}').change(set_location)
</script>
