<input type="hidden" name="{{ name }}{{ widget.LAT_SUFFIX }}" value="{{ lat }}" />
<input type="hidden" name="{{ name }}{{ widget.LNG_SUFFIX }}" value="{{ lng }}" />
<div id="{{ name }}_map_canvas" style="width: 500px; height: 300px;"></div>
Search: <input id="{{ name }}_search" type="textbox" value=""><input type="button" value="Search" id="{{ name }}_search_button" />
<script type="text/javascript">
    $(function() {
        new LocationWidget(
            "#{{ name }}_map_canvas",
            "input[name='{{ name }}{{ widget.LAT_SUFFIX }}']",
            "input[name='{{ name }}{{ widget.LNG_SUFFIX }}']",
            "#{{ name }}_search",
            "#{{ name }}_search_button",
            "{{ precision }}"
        );
    });
</script>