<input type="hidden" name="{{ name }}{{ widget.LAT_SUFFIX }}" value="{{ lat }}" />
<input type="hidden" name="{{ name }}{{ widget.LNG_SUFFIX }}" value="{{ lng }}" />
<input type="hidden" name="{{ name }}{{ widget.COUNTRY_SUFFIX }}" value="{{ country }}" />
<input type="hidden" name="{{ name }}{{ widget.STATE_SUFFIX }}" value="{{ state }}" />
<input type="hidden" name="{{ name }}{{ widget.CITY_SUFFIX }}" value="{{ city }}" />
<div id="{{ name }}_map_canvas" style="width: 500px; height: 300px;"></div>
{% if not widget.attrs.readonly %}
{% if widget.attrs.showMap %}Enter new location: <input id="{{ name }}_search" type="textbox" value="" /><input type="button" value="Submit" id="{{ name }}_search_button" />
{% else %}<input id="{{ name }}_search" type="hidden" value="" />
{% endif %}
{% endif %}
<script type="text/javascript">
    $(function() {
        new LocationWidget(
            {canvas:"#{{ name }}_map_canvas",
             lat_field:"input[name='{{ name }}{{ widget.LAT_SUFFIX }}']",
             lng_field:"input[name='{{ name }}{{ widget.LNG_SUFFIX }}']",
             country_field:"input[name='{{ name }}{{ widget.COUNTRY_SUFFIX }}']",
             state_field:"input[name='{{ name }}{{ widget.STATE_SUFFIX }}']",
             city_field:"input[name='{{ name }}{{ widget.CITY_SUFFIX }}']",
             search_field:"#{{ name }}_search",
             search_button:"#{{ name }}_search_button",
             precision:"{{ precision }}",
             showMap: {{ showMap }},
             readonly: {{ readonly }}}
        );
    });
</script>
